*{
    background:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.body{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;

}
.text{
    font-size: 36px;
    letter-spacing: -1.5px;
}
.text a{
    color: #6673da;
}
.text p{
    font-size: 16px;
}
.text span{
    font-size: 16px;
    color: #8d75ee;
}
.second{
    margin-top: 20px;
    width: 560px;
    height: 220px;
    display: flex;
    gap: 32px;

}
.img{
    width: 150px;
    height: 225px;
    background: #000;
}
.secondText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.miniText{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.miniText2{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Remove button{
    border: none;
    color: red;
    border-bottom: 1px solid red;
    cursor: pointer;
}
.line{
    width: 402px;
    height: 1px;
    background: #000;
}

.buyCart{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.buy{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.Shipping{
    display: flex ;
    justify-content: space-between;
}
.Shipping h5{
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #000;
}
.choice{
    border: none;
}
.buyCart button{
    width: 397px;
    height: 50px;
    border: 1px solid white;
    border-radius: 8px;
    background:#818EEA;
    color: white;
    font-size: 16px;
    cursor: pointer;
}