#header {
  background: var(--background-color, #fff);
  box-shadow: 0 10px 5px -5px rgba(30, 129, 204, 0.2);
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    &--nav {
      display: flex;
      gap: 22px;
      align-items: center;

      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: blue;
        }
      }
      .active {
        color: blue;
        &--icons {
          gap: 10px;
          display: flex;
          align-items: center;
          font-size: 20px;
          .basket {
            font-size: 24px;
            color: #000;
          }
        }
      }
    }
    &--icons {
      display: flex;
      &__logo {
        // margin-right: -18%;
        margin: -7px -3px;
        height: 35px;
        background: #e8e5e5;
        display: flex;
        align-items: center;
        border-radius: 10px;
        transition: 0.5s;
        cursor: pointer;
        input {
          width: 0;
          height: 35px;
          border: none;
          outline: none;
          background: transparent;
          margin-left: 10px;
          transition: 0.5s;
          color: #807b7b;
        }
        &--search {
          font-size: 18px;
          margin-left: 5px;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  #header {
    .header {
      &--nav {
        a {
          display: none;
        }
      }
    }
  }
}
